<h1>Maintenances#index</h1>

<%= link_to  "Create Maintenance", new_car_maintenance_path(@car) %>

<ul>
  <% @maintenances.each do |maintenance| %>
    <p><%= maintenance.description %></p>
    <ul>
      <% maintenance.operations.each do |operation| %>
        <li><%= operation.title %></li>
      <% end %>
    </ul>
    <%= link_to "delete", maintenance, method: :delete, data: { confirm: "Sure?" } %>
  <% end %>
</ul>
